@charset "utf-8";

* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
html,
body {
 font-family: "Noto Sans KR", "arial", sans-serif;
 font-optical-sizing: auto;
 font-weight: 400;
 font-style: normal;
 font-size: 10px;
 line-height: 1.5;
 letter-spacing: -0.23px;
 text-size-adjust: none;
 word-break: break-all;
 color: #fff;
 background-color: #222;
 overflow-x: hidden;
}
ul,
ol,
li {
 list-style: none;
}
a {
 display: block;
 text-decoration: none;
 color: #fff;
}
img {
 border: 0;
 vertical-align: middle;
}

.header {
 position: fixed;
 left: 0;
 top: 0;
 width: 400px;
 height: 100%;
 background-color: #333;
 padding: 30rem 1.6rem 20rem;
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 align-items: center;
}
.header h1 {
 position: relative;
 font-size: 5rem;
}
.contact {
 position: relative;
 width: 100%;
 display: flex;
 justify-content: space-around;
 align-items: center;
}
.contact li {
 position: relative;
}
.contact li a {
 font-size: 1.4rem;
 opacity: 0.8;
}
.contact li:hover a {
 opacity: 1;
}

.main {
 position: relative;
 margin-left: 400px;
 padding: 20px;
}
.filter {
 position: relative;
 width: 100%;
 display: flex;
 justify-content: flex-end;
 align-items: center;
 gap: 2rem;
 margin-bottom: 2rem;
}
.filter li {
}
.filter li a {
 font-size: 1.4rem;
 opacity: 0.8;
}
.filter li:hover a {
 opacity: 1;
}

.card-wrap {
 position: relative;
 width: 100%;
 display: flex;
 flex-wrap: wrap;
}
.card {
 position: relative;
 width: 20%;
 padding: 1.2rem;
}
.card .inner {
 position: relative;
 width: 100%;
 padding: 1.4rem;
 background-color: #eee;
 border-radius: 4px;
 box-shadow: 5px 5px 10px #000;
}
.card .inner img {
 width: 100%;
 object-fit: cover;
}
.card .inner h2 {
 font-size: 1.8rem;
 color: #222;
 margin-top: 1.6rem;
 margin-bottom: 1rem;
}
.card .inner p {
 font-size: 1.4rem;
 color: #777;
}
